<footer>
    <div class="soci">
        <a href="https://www.linkedin.com/in/rehbar-khan/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://twitter.com/Rehbar2004"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://github.com/thisisarsh1"><i class="fa-brands fa-github"></i></a>
    </div>
    <div class="name">
        @Ghumo Private Limited
    </div>
    <div class="links">
        <a href="/privacy">privacy</a>
        <a href="/terms">Terms and condition</a>
        
    </div>
</footer> 