<% layout('/layouts/boilerplate') %>
<body>
    
      
      <!-- <img class="imgs" src="/css/imgs/earth_4k_stock_by_hameed-db5roja Background Removed.png" alt="Icon"> -->
<br>

    <form method="get" action="/listings">
        <button class="btn btn-dark offset-5">Take me to listings</button>
    </form>

    <span class="parallax-text" text="GHUMO">
        GHUMO
      </span>

</body>