<link rel="stylesheet" href="./css/main.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
    <div id="scroll-animate">
      <div id="scroll-animate-main">
        <div class="wrapper-parallax">
          <header class="head">
            <h1>Header</h1>
          </header>
    
          <section class="content">
            <h1>Content</h1>
          </section>
    
          <footer class="foot">
            <h1>Footer</h1>
          </footer>
        </div>
      </div>
    </div>
    <script src="./js/main.js"></script>
  </body>