<% layout('/layouts/boilerplate') %>

<body>
    <div class="row">
        <div class="col-8 ">
    <h3>Add a Listing!</h3>
    <form method="post" action="/listings" novalidate class="needs-validation" >
      
        <div>
            <label for="validationCustom01" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Add a title" type="text" class="form-control" id="validationCustom01"  required>
        <div class="valid-feedback">
            Title Looks good!
          </div>            
    </div>
        <br>
        <div>
        <label for="validationCustom02" class="form-label">Description</label>    
        <input name="listing[description]" placeholder="Add a description" type="text" class="form-control"id="validationCustom02"  required>
        <div class="invalid-feedback">
            Please describe your listing !
          </div>    
    </div>
        <br>
        <div>
        <lable for="image" class="form-lable">Image-URL</lable>
        <input name="listing[image]" placeholder="Add a image URL" type="text" class="form-control">
   <br>
        </div>
    <div class="row ">
    <br>
        <div class="col-4">
        <label for="validationCustom03" class="form-label">Price</label>   
        <input name="listing[price]" placeholder="Add price" type="number" class="form-control"id="validationCustom03"  required>
        </div>
    <br>
        <div class="col-8" >
        <label for="validationCustom04" class="form-label">Country</label>   
        <input name="listing[country]" placeholder="Add a country" type="text" class="form-control"id="validationCustom04"  required>
        </div>


    </div >

        
        <br>
        <div class="mb-3">
        <label for="validationCustom05" class="form-label">Location</label>   
        <input name="listing[location]" placeholder="Add a location" type="text" class="form-control"id="validationCustom05"  required>
    </div>
      <form>
        <button class="btn btn-dark add-btn -3">
            Add
        </button>
      </form>
        
        </form>
    </div>
    </div>
</body>
