body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
display: flex;
flex-direction: column;
min-height: 100vh;
}
.containers{
    flex:1
}
h3{
    text-align: center;
    padding-top: 1rem;
    font-weight: 700;
}

.navbar{
    height: 5rem;
    background-color: rgb(255, 240, 240);
}
.navbar-brand{
    color: #fe424d;
    font-size: 2rem;
}
.navbar-nav{
    background-color: rgb(255, 240, 240);
  transition: ease-in;
  width: 100% !important
}
.soci a{
    color: black;
    font-size: 2rem;
    align-items: space-around;
    margin: 1rem;
}
.soci a:hover{
    color:#fe424d;
    transition: .3s ease-in-out;
}

footer{
    text-align: center;
    background-color: #eaeaea;

}
.links a {
    text-decoration: none;
    margin-left: 1rem;
    color: black;
}
.links  :hover{
    text-decoration: underline solid black;


}
.card{
    margin: 1.2rem !important ; 
    border: none !important;
 
}
.card-img-top{
 border-radius: 1rem;
}
.card-body a {
    padding: 0;
    text-decoration: none !important;
    color: black;
   
}
.row{
    display: flex !important; 
    justify-content: space-evenly !important;
    flex-wrap: wrap;
  

}
.card-img-overlay{
    opacity: 0;

}
.card-img-overlay:hover{
    opacity: 95%;
    color: rgb(0, 0, 0);
    transition: .3s .2s ease-in-out;
 background-color: #ffffff76;
 font-weight: 600 ;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
    margin: .5rem;
}
.add-btn:hover{
    background-color: #000000 !important;
    /* transition: .5s ease-in-out; */
    }

    .parallax-text{
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        font-size: 23vw;
        font-style: italic;
        font-weight: 700;
      }
      
      .parallax-text::after{
        content: attr(text);
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        color: transparent;
        -webkit-text-stroke: 0.15vw black;
      }
      
      /* .imgs{margin-top: 5rem;
        width: 35vw;
        animation: sneakerAnimation 2.5s  cubic-bezier(.25, 1.5, .5, 1) infinite alternate-reverse ;
      }
      
      @keyframes sneakerAnimation {
        90%, 100%{
          transform:  translate(100vw, 0vw) rotate(90deg);
        }
          0%, 10%{
          transform:  translate(-5vw, -5vw) rotate(-90deg);
        }
      } */

      .alert{
        text-align: center;
      }